.hero{
    width: 100%;
    height: 700px;
 /* margin-top: 100px; */
 overflow: hidden;
 display: flex;
 margin: 0px 50px;
 justify-content: space-between;
}
h1{
    color: #008ecf;
    font-size: 45px;
    font-weight: 500;
}
.moto{
    margin-top: 130px;
 width: 680px;
justify-content: space-between;
   border-radius: 8px;
}
.categories-list{
    margin-top: 25px;
}
.categories-list li{
    font-size: 20px;
    margin-left: 60px;  

    
}

.hero-image{
    height: 450px;
    width: 580px;
}

.hero-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.carsoule{
    width: 60%;
    display: flex;
    align-items: center;
    /* margin-right: 40px; */
}
.next-btn{
    width:35px;
    height: 35px;
}
.next-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: rotate(180deg);
}
.prev-btn{
    width:35px;
    height: 35px;
}
.prev-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
section{

    margin: 0px 100px;
    overflow: hidden;
}
section h1{
    font-size: 55px;
    margin: 80px;
    font-weight: 500;
    border-left: 6px solid #008ecf;
    padding-left: 20px;
    overflow: hidden;
}
section h2{
    font-size: 23px;
    font-weight: 550;
    margin-left: 20px ;
    height: 70px;
}
.blog{
  display: grid;
  grid-template-columns: repeat(auto-fit ,minmax(300px, 1fr));
  gap:40px;
}
.blog-list{
    border-radius: 10px;
    overflow: hidden;
    color: #EFF5F5;
    border: 1px solid #444453;
    background-color: #444453;
    height: 650px;
}
.blog-img{
  /* width:300px; */
  height: 250px;

}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog-description{
    padding: 10px 6px;
    

}
.blog-description ul{
    margin-left: 50px;
    height: 160px;
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 1.2px;

}
.blog-description h2{
    color:#008ecf;
}
.blog-popular{
    padding:10px 20px;
    /* text-align: center; */

}
.blog-popular h2{
    text-align: center;
    width: 100%;
    color:#008ecf;
    text-align: center;
    
}
.blog-popular-list{
    padding: 15px 5px;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgb(191, 177, 177);
}
.blog-popular-img{
    height: 80px;
    width:160px; ;
    ;
}

.blog-popular-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px
}
.blog-popular-list-discription{
    width:350px;
    margin-left: 10px;
    padding:12px 0px
}
.blog-popular-list-discription a {
    color:#008ecf;

}
.blog-popular-list-discription ul{
    margin-left: 30px;
}
.blog-popular-list-discription ul li{
    font-size: 14px;
    font-weight: 300;
}
.button {
    background-color: white ;
    border: 1px solid white;
    margin-top: 10px;
    margin-right: 30px;
    border-radius: 10px;
    float:right;
    padding: 5px 20px;
}
.button a{
    font-weight: 600;
    color:#444453;
}
.button:hover {
    background-color: #008ecf;
    border: 1px solid white;
    color: white;
    margin-top: 10px;
    margin-right: 30px;
    border-radius: 10px;
    float:right;
    padding: 5px 20px;
}
@media screen and (max-width:400px){
    .hero{
        height: 400px;
    }
    section{

        margin: 0px 20px;
        overflow: hidden;
    }
    section h1{
        margin: 40px 10px;
        font-size: 30px;
    }

}

/* Animated Wave Background Style  */





@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {
    0%, 100% {
        transform: translate3d(0,-25px,0);
    }
    50% {
        transform: translate3d(0,5px,0);
    }
}

/* Login Section Style */

h1 {
    font-weight: bold;
    margin: 0;
}

span {
    font-size: 12px;
}

a {
    color: #0e263d;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}
.form{
    display: flex;
    justify-content: center;
}

.container {
    border: 1px solid rgb(32, 29, 29);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    opacity: 85%;
    width: 1300px;
    max-width: 100%;
    min-height: 700px;
    transition: 333ms;
    margin: 150px 0px;
}


.form-container form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding:  0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-container {
    margin: 20px 0;
    display: block;
}


.social-container a {
    border: 1px solid #008ecf;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    transition: 333ms;
}
.social-container a:hover {
    transform: rotateZ(13deg);
    border: 1px solid #0e263d;
}

.form-container input {
    background: #eee;
    border: none;
    border-radius: 50px;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}
.form-container input:hover {
    transform: scale(101%);
}
.register{
    margin-top: 100px !important;
}

button {
    border-radius: 50px;
    box-shadow: 0 1px 1px ;
    border: 1px solid #008ecf;
    background: #008ecf;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding: 10px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background: transparent;
    border-color: #fff;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: #ff416c;
    background: linear-gradient(to right, #008ecf, #008ecf) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateY(0);
}

.overlay-left {
    transform: translateY(-20%);
}

/* Move signin to right */
.container.right-panel-active .sign-in-container {
    transform: translateY(100%);
}

/* Move overlay to left */
.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

/* Bring signup over signin */
.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

/* Move overlay back to right */
.container.right-panel-active .overlay {
    transform: translateX(50%);
}

/* Bring back the text to center */
.container.right-panel-active .overlay-left {
    transform: translateY(0);
}

/* Same effect for right */
.container.right-panel-active .overlay-right {
    transform: translateY(20%);
}

/* https://Github.com/YasinDehfuli
     https://Codepen.io/YasinDehfuli */